{% extends "base.html" %}

{% block title %}
  Search Locations
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script src="https://unpkg.com/htmx.org@1.9.9"
          integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
          crossorigin="anonymous"></script>
{% endblock javascript %}
{% block content %}
  <h1>Search for a duty location</h1>
  <form>
    <input type="search"
           name="search"
           value="{{ request.GET.search }}"
           placeholder="begin typing..."
           hx-get="/locations/search/"
           hx-trigger="input changed delay:500ms, search"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator"
           hx-push-url="true" />
  </form>
  <hr />
  {% include "locations/partials/results.html" %}
{% endblock content %}
